# Pruebas Practica Final

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
m_clientes = pd.read_excel('/Users/Paco/Desktop/T.Grupo/CSV/maestro_clientes.xlsx')
m_productos = pd.read_csv('/Users/Paco/Desktop/T.Grupo/CSV/maestro_productos.csv')
sellin_total = pd.read_csv('/Users/Paco/Desktop/T.Grupo/CSV/sellin-total.csv')
proveedor1 = pd.read_csv('/Users/Paco/Desktop/T.Grupo/CSV/sellout-proveedor1.csv')
proveedor2 = pd.read_csv('/Users/Paco/Desktop/T.Grupo/CSV/sellout-proveedor2.csv')

## Maestro Productos
Contiene toda la
información disponible relativa a los productos que vende el cliente y competidores

In [3]:
#m_productos = pd.read_csv('/Users/marioalvarogutierrez/Downloads/maestro_productos.csv')

#m_productos

In [4]:
m_productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sku              1242 non-null   int64
 1   Sku_Description  1242 non-null   object
 2   Sku_Category     1242 non-null   object
 3   Sku_Subcategory  1242 non-null   object
dtypes: int64(1), object(3)
memory usage: 38.9+ KB

Miramos cuantos valores nulos hay en la tabla, y vemos que cno hay ninguno

In [5]:
m_productos.isna().any()

Sku                False
Sku_Description    False
Sku_Category       False
Sku_Subcategory    False
dtype: bool

El sku en productos no es el mismo sku que en las tabals de sellin y proveedores. Deberiamos cambiar el nombre de esta columna y ver de que manera estaria relacionada esta tabla con las otras o intentar averiguar si el sku esta relacionado de otra manera con las tablas.

## Maestro Clientes
Contiene toda la
información disponible sobre las tiendas y distribuidores que venden los productos del
cliente

In [6]:
#m_clientes = pd.read_excel('/Users/marioalvarogutierrez/Downloads/maestro_clientes.xlsx')

#m_clientes

In [7]:
m_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NUM TDA                  2452 non-null   int64
 1   NOMBRE DE TDA            2452 non-null   object
 2   CADENA                   2452 non-null   object
 3   FORMATO                  2452 non-null   object
 4   MUNICIPIO/CIUDAD         2452 non-null   object
 5   ESTADO                   2452 non-null   object
 6   DIVISION                 2452 non-null   object
 7   DEPOSITO / DISTRIBUIDOR  2452 non-null   object
 8   ESTRUCTURA               2452 non-null   object
 9   GRADO                    2452 non-null   object
dtypes: int64(1), object(9)
memory usage: 191.7+ KB

In [8]:
m_clientes = maestro_clientes.rename(columns={'NUM TDA':'Store_Id'})

m_clientes

NameError: name 'maestro_clientes' is not defined

## Sellin Total
SellIn es la información de los procesos de venta de nuestro cliente hacia sus
distribuidores (es decir, cuando un supermercado compra un lote de productos de nuestro
cliente con el fin de vendérselos a los compradores finales)

In [ ]:
#sellin_total = pd.read_csv('/Users/marioalvarogutierrez/Downloads/sellin-total.csv')

#sellin_total.head()

In [9]:
sellin_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       int64
 1   Date      object
 2   Store_Id  int64
 3   Pieces    float64
 4   Price     float64
 5   Margin    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 191.7+ MB

In [10]:
sellin_total['Date'].unique()

array(['02/01/2015', '03/01/2015', '05/01/2015', '06/01/2015',
       '07/01/2015', '08/01/2015', '09/01/2015', '10/01/2015',
       '12/01/2015', '13/01/2015', '14/01/2015', '15/01/2015',
       '16/01/2015', '17/01/2015', '19/01/2015', '20/01/2015',
       '21/01/2015', '22/01/2015', '23/01/2015', '24/01/2015',
       '26/01/2015', '27/01/2015', '28/01/2015', '29/01/2015',
       '30/01/2015', '31/01/2015', '02/02/2015', '03/02/2015',
       '04/02/2015', '05/02/2015', '06/02/2015', '07/02/2015',
       '09/02/2015', '10/02/2015', '11/02/2015', '12/02/2015',
       '13/02/2015', '14/02/2015', '16/02/2015', '17/02/2015',
       '18/02/2015', '19/02/2015', '20/02/2015', '21/02/2015',
       '23/02/2015', '24/02/2015', '25/02/2015', '26/02/2015',
       '27/02/2015', '28/02/2015', '02/03/2015', '03/03/2015',
       '04/03/2015', '05/03/2015', '06/03/2015', '07/03/2015',
       '09/03/2015', '10/03/2015', '11/03/2015', '12/03/2015',
       '13/03/2015', '14/03/2015', '16/03/2015', '17/03/2015',
       '18/03/2015', '19/03/2015', '20/03/2015', '21/03/2015',
       '23/03/2015', '24/03/2015', '25/03/2015', '26/03/2015',
       '27/03/2015', '28/03/2015', '30/03/2015', '31/03/2015',
       '01/04/2015', '02/04/2015', '03/04/2015', '04/04/2015',
       '06/04/2015', '07/04/2015', '08/04/2015', '09/04/2015',
       '10/04/2015', '11/04/2015', '13/04/2015', '14/04/2015',
       '15/04/2015', '16/04/2015', '17/04/2015', '18/04/2015',
       '20/04/2015', '21/04/2015', '22/04/2015', '23/04/2015',
       '24/04/2015', '25/04/2015', '27/04/2015', '28/04/2015',
       '29/04/2015', '30/04/2015', '01/05/2015', '02/05/2015',
       '04/05/2015', '05/05/2015', '06/05/2015', '07/05/2015',
       '08/05/2015', '09/05/2015', '11/05/2015', '12/05/2015',
       '13/05/2015', '14/05/2015', '15/05/2015', '16/05/2015',
       '18/05/2015', '19/05/2015', '20/05/2015', '21/05/2015',
       '22/05/2015', '23/05/2015', '25/05/2015', '26/05/2015',
       '27/05/2015', '28/05/2015', '29/05/2015', '30/05/2015',
       '01/06/2015', '02/06/2015', '03/06/2015', '04/06/2015',
       '05/06/2015', '06/06/2015', '08/06/2015', '09/06/2015',
       '10/06/2015', '11/06/2015', '12/06/2015', '13/06/2015',
       '15/06/2015', '16/06/2015', '17/06/2015', '18/06/2015',
       '19/06/2015', '20/06/2015', '22/06/2015', '23/06/2015',
       '24/06/2015', '25/06/2015', '26/06/2015', '27/06/2015',
       '29/06/2015', '30/06/2015', '01/07/2015', '02/07/2015',
       '03/07/2015', '04/07/2015', '06/07/2015', '07/07/2015',
       '08/07/2015', '09/07/2015', '10/07/2015', '11/07/2015',
       '13/07/2015', '14/07/2015', '15/07/2015', '16/07/2015',
       '17/07/2015', '18/07/2015', '20/07/2015', '21/07/2015',
       '22/07/2015', '23/07/2015', '24/07/2015', '25/07/2015',
       '27/07/2015', '28/07/2015', '29/07/2015', '30/07/2015',
       '31/07/2015', '01/08/2015', '03/08/2015', '04/08/2015',
       '05/08/2015', '06/08/2015', '07/08/2015', '08/08/2015',
       '10/08/2015', '11/08/2015', '12/08/2015', '13/08/2015',
       '14/08/2015', '15/08/2015', '17/08/2015', '18/08/2015',
       '19/08/2015', '20/08/2015', '21/08/2015', '22/08/2015',
       '24/08/2015', '25/08/2015', '26/08/2015', '27/08/2015',
       '28/08/2015', '29/08/2015', '31/08/2015', '01/09/2015',
       '02/09/2015', '03/09/2015', '04/09/2015', '05/09/2015',
       '07/09/2015', '08/09/2015', '09/09/2015', '10/09/2015',
       '11/09/2015', '12/09/2015', '14/09/2015', '15/09/2015',
       '17/09/2015', '18/09/2015', '19/09/2015', '21/09/2015',
       '22/09/2015', '23/09/2015', '24/09/2015', '25/09/2015',
       '26/09/2015', '28/09/2015', '29/09/2015', '30/09/2015',
       '01/10/2015', '02/10/2015', '03/10/2015', '05/10/2015',
       '06/10/2015', '07/10/2015', '08/10/2015', '09/10/2015',
       '10/10/2015', '12/10/2015', '13/10/2015', '14/10/2015',
       '15/10/2015', '16/10/2015', '17/10/2015', '19/10/2015',
       '20/10/2015', '21/10/2015', '22/10/2015', '23/10/2015',
       '24/10/2015', '26/10/2015', '27/10/2015', '28/10/2015',
       '29/10/2015', '30/10/2015', '31/10/2015', '02/11/2015',
       '03/11/2015', '04/11/2015', '05/11/2015', '06/11/2015',
       '07/11/2015', '09/11/2015', '10/11/2015', '11/11/2015',
       '12/11/2015', '13/11/2015', '14/11/2015', '16/11/2015',
       '17/11/2015', '18/11/2015', '19/11/2015', '20/11/2015',
       '21/11/2015', '23/11/2015', '24/11/2015', '25/11/2015',
       '26/11/2015', '27/11/2015', '28/11/2015', '30/11/2015',
       '01/12/2015', '02/12/2015', '03/12/2015', '04/12/2015',
       '05/12/2015', '07/12/2015', '08/12/2015', '09/12/2015',
       '10/12/2015', '11/12/2015', '12/12/2015', '14/12/2015',
       '15/12/2015', '16/12/2015', '17/12/2015', '18/12/2015',
       '19/12/2015', '21/12/2015', '22/12/2015', '23/12/2015',
       '24/12/2015', '26/12/2015', '28/12/2015', '29/12/2015',
       '30/12/2015', '31/12/2015', '02/01/2016', '04/01/2016',
       '05/01/2016', '06/01/2016', '07/01/2016', '08/01/2016',
       '09/01/2016', '11/01/2016', '12/01/2016', '13/01/2016',
       '14/01/2016', '15/01/2016', '16/01/2016', '18/01/2016',
       '19/01/2016', '20/01/2016', '21/01/2016', '22/01/2016',
       '23/01/2016', '25/01/2016', '26/01/2016', '27/01/2016',
       '28/01/2016', '29/01/2016', '30/01/2016', '01/02/2016',
       '02/02/2016', '03/02/2016', '04/02/2016', '05/02/2016',
       '06/02/2016', '08/02/2016', '09/02/2016', '10/02/2016',
       '11/02/2016', '12/02/2016', '13/02/2016', '15/02/2016',
       '16/02/2016', '17/02/2016', '18/02/2016', '19/02/2016',
       '20/02/2016', '22/02/2016', '23/02/2016', '24/02/2016',
       '25/02/2016', '26/02/2016', '27/02/2016', '29/02/2016',
       '01/03/2016', '02/03/2016', '03/03/2016', '04/03/2016',
       '05/03/2016', '07/03/2016', '08/03/2016', '09/03/2016',
       '10/03/2016', '11/03/2016', '12/03/2016', '14/03/2016',
       '15/03/2016', '16/03/2016', '17/03/2016', '18/03/2016',
       '19/03/2016', '21/03/2016', '22/03/2016', '23/03/2016',
       '24/03/2016', '25/03/2016', '26/03/2016', '28/03/2016',
       '29/03/2016', '30/03/2016', '31/03/2016', '01/04/2016',
       '02/04/2016', '04/04/2016', '05/04/2016', '06/04/2016',
       '07/04/2016', '08/04/2016', '09/04/2016', '11/04/2016',
       '12/04/2016', '13/04/2016', '14/04/2016', '15/04/2016',
       '16/04/2016', '18/04/2016', '19/04/2016', '20/04/2016',
       '21/04/2016', '22/04/2016', '23/04/2016', '25/04/2016',
       '26/04/2016', '27/04/2016', '28/04/2016', '29/04/2016',
       '30/04/2016', '02/05/2016', '03/05/2016', '04/05/2016',
       '05/05/2016', '06/05/2016', '07/05/2016', '09/05/2016',
       '10/05/2016', '11/05/2016', '12/05/2016', '13/05/2016',
       '14/05/2016', '16/05/2016', '17/05/2016', '18/05/2016',
       '19/05/2016', '20/05/2016', '21/05/2016', '23/05/2016',
       '24/05/2016', '25/05/2016', '26/05/2016', '27/05/2016',
       '28/05/2016', '30/05/2016', '31/05/2016', '01/06/2016',
       '02/06/2016', '03/06/2016', '04/06/2016', '06/06/2016',
       '07/06/2016', '08/06/2016', '09/06/2016', '10/06/2016',
       '11/06/2016', '13/06/2016', '14/06/2016', '15/06/2016',
       '16/06/2016', '17/06/2016', '18/06/2016', '20/06/2016',
       '21/06/2016', '22/06/2016', '23/06/2016', '24/06/2016',
       '25/06/2016', '27/06/2016', '28/06/2016', '29/06/2016',
       '30/06/2016', '01/07/2016', '02/07/2016', '04/07/2016',
       '05/07/2016', '06/07/2016', '07/07/2016', '08/07/2016',
       '09/07/2016', '11/07/2016', '12/07/2016', '13/07/2016',
       '14/07/2016', '15/07/2016', '16/07/2016', '18/07/2016',
       '19/07/2016', '20/07/2016', '21/07/2016', '22/07/2016',
       '23/07/2016', '25/07/2016', '26/07/2016', '27/07/2016',
       '28/07/2016', '29/07/2016', '30/07/2016', '01/08/2016',
       '02/08/2016', '03/08/2016', '04/08/2016', '05/08/2016',
       '06/08/2016', '08/08/2016', '09/08/2016', '10/08/2016',
       '11/08/2016', '12/08/2016', '13/08/2016', '15/08/2016',
       '16/08/2016', '17/08/2016', '18/08/2016', '19/08/2016',
       '20/08/2016', '22/08/2016', '23/08/2016', '24/08/2016',
       '25/08/2016', '26/08/2016', '27/08/2016', '29/08/2016',
       '30/08/2016', '31/08/2016', '01/09/2016', '02/09/2016',
       '03/09/2016', '05/09/2016', '06/09/2016', '07/09/2016',
       '08/09/2016', '09/09/2016', '10/09/2016', '12/09/2016',
       '13/09/2016', '14/09/2016', '15/09/2016', '16/09/2016',
       '17/09/2016', '19/09/2016', '20/09/2016', '21/09/2016',
       '22/09/2016', '23/09/2016', '24/09/2016', '26/09/2016',
       '27/09/2016', '28/09/2016', '29/09/2016', '30/09/2016',
       '01/10/2016', '03/10/2016', '04/10/2016', '05/10/2016',
       '06/10/2016', '07/10/2016', '08/10/2016', '10/10/2016',
       '11/10/2016', '12/10/2016', '13/10/2016', '14/10/2016',
       '15/10/2016', '17/10/2016', '18/10/2016', '19/10/2016',
       '20/10/2016', '21/10/2016', '22/10/2016', '24/10/2016',
       '25/10/2016', '26/10/2016', '27/10/2016', '28/10/2016',
       '29/10/2016', '31/10/2016', '01/11/2016', '02/11/2016',
       '03/11/2016', '04/11/2016', '05/11/2016', '07/11/2016',
       '08/11/2016', '09/11/2016', '10/11/2016', '11/11/2016',
       '12/11/2016', '14/11/2016', '15/11/2016', '16/11/2016',
       '17/11/2016', '18/11/2016', '19/11/2016', '21/11/2016',
       '22/11/2016', '23/11/2016', '24/11/2016', '25/11/2016',
       '26/11/2016', '28/11/2016', '29/11/2016', '30/11/2016',
       '01/12/2016', '02/12/2016', '03/12/2016', '05/12/2016',
       '06/12/2016', '07/12/2016', '08/12/2016', '09/12/2016',
       '10/12/2016', '12/12/2016', '13/12/2016', '14/12/2016',
       '15/12/2016', '16/12/2016', '17/12/2016', '19/12/2016',
       '20/12/2016', '21/12/2016', '22/12/2016', '23/12/2016',
       '24/12/2016', '26/12/2016', '27/12/2016', '28/12/2016',
       '29/12/2016', '30/12/2016', '31/12/2016', '02/01/2017',
       '03/01/2017', '04/01/2017', '05/01/2017', '06/01/2017',
       '07/01/2017', '09/01/2017', '10/01/2017', '11/01/2017',
       '12/01/2017', '13/01/2017', '14/01/2017', '16/01/2017',
       '17/01/2017', '18/01/2017', '19/01/2017', '20/01/2017',
       '21/01/2017', '23/01/2017', '24/01/2017', '25/01/2017',
       '26/01/2017', '27/01/2017', '28/01/2017', '30/01/2017',
       '31/01/2017', '01/02/2017', '02/02/2017', '03/02/2017',
       '04/02/2017', '06/02/2017', '07/02/2017', '08/02/2017',
       '09/02/2017', '10/02/2017', '11/02/2017', '13/02/2017',
       '14/02/2017', '15/02/2017', '16/02/2017', '17/02/2017',
       '18/02/2017', '20/02/2017', '21/02/2017', '22/02/2017',
       '23/02/2017', '24/02/2017', '25/02/2017', '27/02/2017',
       '28/02/2017', '01/03/2017', '02/03/2017', '03/03/2017',
       '04/03/2017', '06/03/2017', '07/03/2017', '08/03/2017',
       '09/03/2017', '10/03/2017', '11/03/2017', '13/03/2017',
       '14/03/2017', '15/03/2017', '16/03/2017', '17/03/2017',
       '18/03/2017', '20/03/2017', '21/03/2017', '22/03/2017',
       '23/03/2017', '24/03/2017', '25/03/2017', '27/03/2017',
       '28/03/2017', '29/03/2017', '30/03/2017', '31/03/2017',
       '01/04/2017', '03/04/2017', '04/04/2017', '05/04/2017',
       '06/04/2017', '07/04/2017', '08/04/2017', '10/04/2017',
       '11/04/2017', '12/04/2017', '13/04/2017', '14/04/2017',
       '15/04/2017', '17/04/2017', '18/04/2017', '19/04/2017',
       '20/04/2017', '21/04/2017', '22/04/2017', '24/04/2017',
       '25/04/2017', '26/04/2017', '27/04/2017', '28/04/2017',
       '29/04/2017', '30/04/2017', '01/05/2017', '02/05/2017',
       '03/05/2017', '04/05/2017', '05/05/2017', '06/05/2017',
       '08/05/2017', '09/05/2017', '10/05/2017', '11/05/2017',
       '12/05/2017', '13/05/2017', '15/05/2017', '16/05/2017',
       '17/05/2017', '18/05/2017', '19/05/2017', '20/05/2017',
       '22/05/2017', '23/05/2017', '24/05/2017', '25/05/2017',
       '26/05/2017', '27/05/2017', '29/05/2017', '30/05/2017',
       '31/05/2017', '04/09/2016', '05/07/2015', '14/02/2016',
       '22/01/2017'], dtype=object)

SKU es el acrónimo de "Stock Keeping Unit", que en español significa "Unidad de Mantenimiento de Stock" o "Unidad de Control de Existencias". Un SKU es un código único utilizado para identificar y rastrear un producto específico en el inventario de una empresa o comercio.

Convertimos la columna 'Date' de object a DataTime para facilitar la manipulacion y unificamos el formato de la fecha con las demas tablas ('%Y/%m/%d')

In [11]:
sellin_total['Date'] = pd.to_datetime(sellin_total['Date'], format='%d/%m/%Y')
sellin_total['Date'] = sellin_total['Date'].dt.strftime('%Y/%m/%d')

In [12]:
sellin_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188783 entries, 0 to 4188782
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Sku       int64
 1   Date      object
 2   Store_Id  int64
 3   Pieces    float64
 4   Price     float64
 5   Margin    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 191.7+ MB

## Proveedor 1

In [ ]:
#proveedor1 = pd.read_csv('/Users/marioalvarogutierrez/Downloads/sellout-proveedor1.csv')

#proveedor1

In [13]:
proveedor1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206365 entries, 0 to 1206364
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Sku       1206365 non-null  int64
 1   Date      1206365 non-null  object
 2   Store_Id  1206365 non-null  int64
 3   Units     1206365 non-null  float64
 4   Price     1206365 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 46.0+ MB

In [14]:
proveedor1['Date'].unique()

array(['2017-01-01 SO Diaria Piezas', '2017-01-02 SO Diaria Piezas',
       '2017-01-03 SO Diaria Piezas', '2017-01-04 SO Diaria Piezas',
       '2017-01-05 SO Diaria Piezas', '2017-01-06 SO Diaria Piezas',
       '2017-01-07 SO Diaria Piezas', '2017-01-08 SO Diaria Piezas',
       '2017-01-09 SO Diaria Piezas', '2017-01-10 SO Diaria Piezas',
       '2017-01-11 SO Diaria Piezas', '2017-01-12 SO Diaria Piezas',
       '2017-01-13 SO Diaria Piezas', '2017-01-14 SO Diaria Piezas',
       '2017-01-15 SO Diaria Piezas', '2017-01-16 SO Diaria Piezas',
       '2017-01-17 SO Diaria Piezas', '2017-01-18 SO Diaria Piezas',
       '2017-01-19 SO Diaria Piezas', '2017-01-20 SO Diaria Piezas',
       '2017-01-21 SO Diaria Piezas', '2017-01-22 SO Diaria Piezas',
       '2017-01-23 SO Diaria Piezas', '2017-01-24 SO Diaria Piezas',
       '2017-01-25 SO Diaria Piezas', '2017-01-26 SO Diaria Piezas',
       '2017-01-27 SO Diaria Piezas', '2017-01-28 SO Diaria Piezas',
       '2017-01-29 SO Diaria Piezas', '2017-01-30 SO Diaria Piezas',
       '2017-01-31 SO Diaria Piezas', '2017-02-01 SO Diaria Piezas',
       '2017-02-02 SO Diaria Piezas', '2017-02-03 SO Diaria Piezas',
       '2017-02-04 SO Diaria Piezas', '2017-02-05 SO Diaria Piezas',
       '2017-02-06 SO Diaria Piezas', '2017-02-07 SO Diaria Piezas',
       '2017-02-08 SO Diaria Piezas', '2017-02-09 SO Diaria Piezas',
       '2017-02-10 SO Diaria Piezas', '2017-02-11 SO Diaria Piezas',
       '2017-02-12 SO Diaria Piezas', '2017-02-13 SO Diaria Piezas',
       '2017-02-14 SO Diaria Piezas', '2017-02-15 SO Diaria Piezas',
       '2017-02-16 SO Diaria Piezas', '2017-02-17 SO Diaria Piezas',
       '2017-02-18 SO Diaria Piezas', '2017-02-19 SO Diaria Piezas',
       '2017-02-20 SO Diaria Piezas', '2017-02-21 SO Diaria Piezas',
       '2017-02-22 SO Diaria Piezas', '2017-02-23 SO Diaria Piezas',
       '2017-02-24 SO Diaria Piezas', '2017-02-25 SO Diaria Piezas',
       '2017-02-26 SO Diaria Piezas', '2017-02-27 SO Diaria Piezas',
       '2017-02-28 SO Diaria Piezas', '2017-03-01 SO Diaria Piezas',
       '2017-03-02 SO Diaria Piezas', '2017-03-03 SO Diaria Piezas',
       '2017-03-04 SO Diaria Piezas', '2017-03-05 SO Diaria Piezas',
       '2017-03-06 SO Diaria Piezas', '2017-03-07 SO Diaria Piezas',
       '2017-03-08 SO Diaria Piezas', '2017-03-09 SO Diaria Piezas',
       '2017-03-10 SO Diaria Piezas', '2017-03-11 SO Diaria Piezas',
       '2017-03-12 SO Diaria Piezas', '2017-03-13 SO Diaria Piezas',
       '2017-03-14 SO Diaria Piezas', '2017-03-15 SO Diaria Piezas',
       '2017-03-16 SO Diaria Piezas', '2017-03-17 SO Diaria Piezas',
       '2017-03-18 SO Diaria Piezas', '2017-03-19 SO Diaria Piezas',
       '2017-03-20 SO Diaria Piezas', '2017-03-21 SO Diaria Piezas',
       '2017-03-22 SO Diaria Piezas', '2017-03-23 SO Diaria Piezas',
       '2017-03-24 SO Diaria Piezas', '2017-03-25 SO Diaria Piezas',
       '2017-03-26 SO Diaria Piezas', '2017-03-27 SO Diaria Piezas',
       '2017-03-28 SO Diaria Piezas', '2017-03-29 SO Diaria Piezas',
       '2017-03-30 SO Diaria Piezas', '2017-03-31 SO Diaria Piezas',
       '2017-04-01 SO Diaria Piezas', '2017-04-02 SO Diaria Piezas',
       '2017-04-03 SO Diaria Piezas', '2017-04-04 SO Diaria Piezas',
       '2017-04-05 SO Diaria Piezas', '2017-04-06 SO Diaria Piezas',
       '2017-04-07 SO Diaria Piezas', '2017-04-08 SO Diaria Piezas',
       '2017-04-09 SO Diaria Piezas', '2017-04-10 SO Diaria Piezas',
       '2017-04-11 SO Diaria Piezas', '2017-04-12 SO Diaria Piezas',
       '2017-04-13 SO Diaria Piezas', '2017-04-14 SO Diaria Piezas',
       '2017-04-15 SO Diaria Piezas', '2017-04-16 SO Diaria Piezas',
       '2017-04-17 SO Diaria Piezas', '2017-04-18 SO Diaria Piezas',
       '2017-04-19 SO Diaria Piezas', '2017-04-20 SO Diaria Piezas',
       '2017-04-21 SO Diaria Piezas', '2017-04-22 SO Diaria Piezas',
       '2017-04-23 SO Diaria Piezas', '2017-04-24 SO Diaria Piezas',
       '2017-04-25 SO Diaria Piezas', '2017-04-26 SO Diaria Piezas',
       '2017-04-27 SO Diaria Piezas', '2017-04-28 SO Diaria Piezas',
       '2017-04-29 SO Diaria Piezas', '2017-04-30 SO Diaria Piezas',
       '2017-05-01 SO Diaria Piezas', '2017-05-02 SO Diaria Piezas',
       '2017-05-03 SO Diaria Piezas', '2017-05-04 SO Diaria Piezas',
       '2017-05-05 SO Diaria Piezas', '2017-05-06 SO Diaria Piezas',
       '2017-05-07 SO Diaria Piezas', '2017-05-08 SO Diaria Piezas',
       '2017-05-09 SO Diaria Piezas', '2017-05-10 SO Diaria Piezas',
       '2017-05-11 SO Diaria Piezas', '2017-05-12 SO Diaria Piezas',
       '2017-05-13 SO Diaria Piezas', '2017-05-14 SO Diaria Piezas',
       '2017-05-15 SO Diaria Piezas', '2017-05-16 SO Diaria Piezas',
       '2017-05-17 SO Diaria Piezas', '2017-05-18 SO Diaria Piezas',
       '2017-05-19 SO Diaria Piezas', '2017-05-20 SO Diaria Piezas',
       '2017-05-21 SO Diaria Piezas', '2017-05-22 SO Diaria Piezas',
       '2017-05-23 SO Diaria Piezas', '2017-05-24 SO Diaria Piezas',
       '2017-05-25 SO Diaria Piezas', '2017-05-26 SO Diaria Piezas',
       '2017-05-27 SO Diaria Piezas', '2017-05-28 SO Diaria Piezas',
       '2017-05-29 SO Diaria Piezas', '2017-05-30 SO Diaria Piezas',
       '2017-05-31 SO Diaria Piezas', '2017-06-01 SO Diaria Piezas',
       '2017-06-02 SO Diaria Piezas', '2017-06-03 SO Diaria Piezas',
       '2017-06-04 SO Diaria Piezas'], dtype=object)

Para unificar las columnas Date de los proveedores y observando que en todos los rgistros aparece 'SO Diaria Piezas', que no parece aportar informacion y dificulta el analisis, lo eliminaremos

In [15]:
proveedor1['Date'] = proveedor1['Date'].str.replace(' SO Diaria Piezas', '')

proveedor1

             Sku        Date  Store_Id  Units  Price
0        4220015  2017-01-01        18   6.00   15.6
1        4220015  2017-01-01        24   0.00    0.0
2        4220015  2017-01-01        39   0.00    0.0
3        4220015  2017-01-01        44   0.00    0.0
4        4220015  2017-01-01        46   0.00    0.0
...          ...         ...       ...    ...    ...
1206360  4829827  2017-06-04       705   0.00    0.0
1206361  4829827  2017-06-04       706   0.00    0.0
1206362  4829827  2017-06-04       707   0.75   27.2
1206363  4829827  2017-06-04       708   0.00    0.0
1206364  4829827  2017-06-04       709   0.00    0.0

[1206365 rows x 5 columns]

Ahora voy a combiarlo a DatetTime y cambiar el formato para unificarlo con las demas tablas

In [16]:
proveedor1['Date'] = pd.to_datetime(proveedor1['Date'])

proveedor1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206365 entries, 0 to 1206364
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Sku       1206365 non-null  int64
 1   Date      1206365 non-null  datetime64[ns]
 2   Store_Id  1206365 non-null  int64
 3   Units     1206365 non-null  float64
 4   Price     1206365 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 46.0 MB

In [17]:
proveedor1['Date'] = sellout_proveedor1['Date'].dt.strftime('%Y/%m/%d')

NameError: name 'sellout_proveedor1' is not defined

In [ ]:
proveedor1

Vamos a comprobar cuantos registros tienen 'Units' = 0 o 'Price' = 0

In [ ]:
print(f"UNITS {proveedor1[proveedor1['Units'] == 0]['Units'].count()}")
print(f"PRICE {proveedor1[proveedor1['Price'] == 0]['Price'].count()}")

Al haber un conteo diferente, asumimos que si hay registros con valor 0 que aportan informacion, por lo que solo deberiamos eliminar los que ambos parametros sean igual a 0 y realizar un reindex

In [ ]:
proveedor1 = proveedor1.drop(proveedor1[(proveedor1['Units'] == 0) & 
                                        (proveedor1['Price'] == 0)].index)

proveedor1

Vamos a cambiar el nombre de la columna Units por Pieces para unificarlo con SellIn y Proveedor2

In [ ]:
proveedor1 = proveedor1.rename(columns={'Units' : 'Pieces'})

proveedor1

In [ ]:
proveedor1.duplicated().sum()

## Proveedor 2

In [ ]:
#proveedor2 = pd.read_csv('/Users/marioalvarogutierrez/Downloads/sellout-proveedor2.csv')

#proveedor2

In [ ]:
proveedor2.info()

Convertimos la columna 'Date' en tipo datetime para facilira su posterior manipulacion y analisis

In [ ]:
proveedor2['Date'] = pd.to_datetime(sellout_proveedor2['Date'])

proveedor2['Date'].info()

Existen 3 duplicados

In [ ]:
duplicados2 = proveedor2.duplicated().sum()

print(duplicados2)

In [ ]:
proveedor2['Date'].info()

In [ ]:
proveedor2['Date'].unique()

In [18]:
proveedor2['Sku'].unique()

array([4240039, 4250046, 4260053, 4270121, 4290336, 4300343, 4330800,
       4371364, 4381425, 4391449, 4412040, 4422187, 4432194, 4442378,
       4473122, 4523924, 4533931, 4543948, 4554143, 4584464, 4604976,
       4615034, 4625287, 4635546, 4645560, 4655669, 4665676, 4675706,
       4685881, 4697052, 4709131, 4719179, 4729193], dtype=int64)

In [20]:
proveedor1['Sku'].unique()

array([4220015, 4230022, 4240039, 4250046, 4260053, 4330800, 4351043,
       4361050, 4381425, 4391449, 4412040, 4422187, 4432194, 4442378,
       4473122, 4523924, 4533931, 4543948, 4554143, 4574433, 4584464,
       4604976,    5027, 4615034, 4625287, 4635546, 4645560, 4655669,
       4665676, 4675706, 4685881, 4697052, 4709131, 4719179, 4739414,
       4749421, 4759438, 4769520, 4779537, 4789544, 4809797, 4819810,
       4829827], dtype=int64)

Vamos a quitar el $ de la columna price para que coincida con las demas tablas y sea más facil de manipular

In [ ]:
proveedor2['Price'] = proveedor2['Price'].str.replace('$', '').astype(float)

# Observaciones

Proveedor 1 solo ha trabajado en 2017

Proveedor 2 solo ha trabajado en 2016

Unificar formato de la fecha en proveedor 1 para que coincita tanto con proveedor 2 como con SellinTotal

Cambiar nombre de columna Units en proveedor 1 para que coincita tanto con proveedor 2 como con SellinTotal

Hay mas registros con 'Price' = 0 que con 'Unit' = 0, probablemente, regalos o promociones

En Proveedor 2 en 'Price' aparece '$' antes del precio, probablemente no sea relevante

Proponemos cambiar NUM TDA de la tabla m_productos a Store_Id, ya que coinciden sus valores y paracen identificar lo mismo

Pasamos todas las fechas de tipo object a tipo datetime para facilitar el posterior analisis

PriceNegativos: Enelpreciotenemoselmismoproblema:Conprecio0o menor, en ‘proveedor1’, hay 568125 entradas, siendo 13 de ellas con precio directamente en negativo. En ‘proveedor2’, una vez hemos quitado el símbolo del dólar y lo convertimos a float, vemos que hay 3 entradas con precio negativo. Tenemos que decidir si eliminarlas o lo consideramos “ofertas”. Independientemente de lo que hagamos con las que valen 0, creo que las que están en negativo deberían ser eliminadas

### Preguntas exploratorias, despues limpieza, faltan más preguntas exploratorias

Listado de manipulaciones con markdowns

Visualizaciones sobre el analisis exploratorio

Filtrar por determinadas columnas?

Pros y contras sobre las manipulaciones realizadas

### Estructura ?

Indice:

Preguntas, analisis exploratorio

Manipulaciones

Conclusiones

Riesgos de las manipulaciones o posibles beneficios

Analisis exploratorio de negocio

### Consultas

- maestro_clientes

Consultar valores unicos en 'Nombre de TDA'

MUNICIPIO CIUDAD no coincide con los datos

Observar unique en DIVISION

Que es estructura?

¿Que puede ser el grado?

- sellin_total

mes dia año

buscar outliers en el margen

- proveedor1



- obs

Ver si pieces y units son los mismo y observar los precios mejor

Los sku de productos es diferente a los distribuidores