# Copa del mundo

Descarga el archivo csv en Canvas llamado world_cup.csv

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/Paco/Downloads/world_cup.csv')
df

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches
0,2022,Qatar,32,NaN,NaN,NaN,0,0,0
1,2018,Russia,32,France,Croatia,Harry Kane - 6,3031768,47371,64
2,2014,Brazil,32,Germany,Argentina,James Rodríguez - 6,3429873,53592,64
3,2010,South Africa,32,Spain,Netherlands,"Wesley Sneijder, Thomas Müller... - 5",3178856,49670,64
4,2006,Germany,32,Italy,France,Miroslav Klose - 5,3352605,52384,64
5,2002,"Korea Republic, Japan",32,Brazil,Germany,Ronaldo - 8,2705337,42271,64
6,1998,France,32,France,Brazil,Davor Šuker - 6,2903477,45367,64
7,1994,United States,24,Brazil,Italy,"Hristo Stoichkov, Oleg Salenko - 6",3587538,68991,52
8,1990,Italy,24,West Germany,Argentina,Salvatore Schillaci - 6,2516215,48389,52
9,1986,Mexico,24,Argentina,West Germany,Gary Lineker - 6,2394031,46039,52
10,1982,Spain,24,Italy,West Germany,Paolo Rossi - 6,2109723,40572,52
11,1978,Argentina,16,Argentina,Netherlands,Mario Kempes - 6,1545791,40679,38
12,1974,Germany,16,West Germany,Netherlands,Grzegorz Lato - 7,1865753,49099,38
13,1970,Mexico,16,Brazil,Italy,Gerd Müller - 10,1603975,50124,32
14,1966,England,16,England,West Germany,Eusébio - 9,1563135,48848,32
15,1962,Chile,16,Brazil,Czechoslovakia,"Leonel Sánchez, Flórián Albert... - 4",893172,27912,32
16,1958,Sweden,16,Brazil,Sweden,Just Fontaine - 13,819810,23423,35
17,1954,Switzerland,16,Germany,Hungary,Sándor Kocsis - 11,768607,29562,26
18,1950,Brazil,15,Uruguay,United States,Ademir - 8,1045246,47511,22
19,1938,France,16,Italy,Hungary,Leônidas - 7,375700,20872,18
20,1934,Italy,16,Italy,Czechoslovakia,Oldřich Nejedlý - 5,363000,21353,17
21,1930,Uruguay,13,Uruguay,Argentina,Guillermo Stábile - 8,590549,32808,18

## Asígnalo a una variable llamada df.

In [3]:
df

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches
0,2022,Qatar,32,NaN,NaN,NaN,0,0,0
1,2018,Russia,32,France,Croatia,Harry Kane - 6,3031768,47371,64
2,2014,Brazil,32,Germany,Argentina,James Rodríguez - 6,3429873,53592,64
3,2010,South Africa,32,Spain,Netherlands,"Wesley Sneijder, Thomas Müller... - 5",3178856,49670,64
4,2006,Germany,32,Italy,France,Miroslav Klose - 5,3352605,52384,64
5,2002,"Korea Republic, Japan",32,Brazil,Germany,Ronaldo - 8,2705337,42271,64
6,1998,France,32,France,Brazil,Davor Šuker - 6,2903477,45367,64
7,1994,United States,24,Brazil,Italy,"Hristo Stoichkov, Oleg Salenko - 6",3587538,68991,52
8,1990,Italy,24,West Germany,Argentina,Salvatore Schillaci - 6,2516215,48389,52
9,1986,Mexico,24,Argentina,West Germany,Gary Lineker - 6,2394031,46039,52
10,1982,Spain,24,Italy,West Germany,Paolo Rossi - 6,2109723,40572,52
11,1978,Argentina,16,Argentina,Netherlands,Mario Kempes - 6,1545791,40679,38
12,1974,Germany,16,West Germany,Netherlands,Grzegorz Lato - 7,1865753,49099,38
13,1970,Mexico,16,Brazil,Italy,Gerd Müller - 10,1603975,50124,32
14,1966,England,16,England,West Germany,Eusébio - 9,1563135,48848,32
15,1962,Chile,16,Brazil,Czechoslovakia,"Leonel Sánchez, Flórián Albert... - 4",893172,27912,32
16,1958,Sweden,16,Brazil,Sweden,Just Fontaine - 13,819810,23423,35
17,1954,Switzerland,16,Germany,Hungary,Sándor Kocsis - 11,768607,29562,26
18,1950,Brazil,15,Uruguay,United States,Ademir - 8,1045246,47511,22
19,1938,France,16,Italy,Hungary,Leônidas - 7,375700,20872,18
20,1934,Italy,16,Italy,Czechoslovakia,Oldřich Nejedlý - 5,363000,21353,17
21,1930,Uruguay,13,Uruguay,Argentina,Guillermo Stábile - 8,590549,32808,18

## Divide el marco de datos desde la columna "Host" hasta la columna "Champion".

In [9]:
#df.loc[:, 'Host':'Champion']
df2 = df.loc[:, 'Host':'Champion']
df2

                     Host  Teams      Champion
0                   Qatar     32           NaN
1                  Russia     32        France
2                  Brazil     32       Germany
3            South Africa     32         Spain
4                 Germany     32         Italy
5   Korea Republic, Japan     32        Brazil
6                  France     32        France
7           United States     24        Brazil
8                   Italy     24  West Germany
9                  Mexico     24     Argentina
10                  Spain     24         Italy
11              Argentina     16     Argentina
12                Germany     16  West Germany
13                 Mexico     16        Brazil
14                England     16       England
15                  Chile     16        Brazil
16                 Sweden     16        Brazil
17            Switzerland     16       Germany
18                 Brazil     15       Uruguay
19                 France     16         Italy
20                  Italy     16         Italy
21                Uruguay     13       Uruguay

## Crea una función lambda poner en mayusculas las cadenas.

In [6]:
mayusculas = lambda string: string.upper()

### Usando la funcion anterior aplícala a la columna Host

In [7]:
df1 =df['Host'].apply(mayusculas)
df1

0                     QATAR
1                    RUSSIA
2                    BRAZIL
3              SOUTH AFRICA
4                   GERMANY
5     KOREA REPUBLIC, JAPAN
6                    FRANCE
7             UNITED STATES
8                     ITALY
9                    MEXICO
10                    SPAIN
11                ARGENTINA
12                  GERMANY
13                   MEXICO
14                  ENGLAND
15                    CHILE
16                   SWEDEN
17              SWITZERLAND
18                   BRAZIL
19                   FRANCE
20                    ITALY
21                  URUGUAY
Name: Host, dtype: object

### Ahora aplícala para la columna Teams y comenta el resultado

In [10]:
df['Teams'] = df['Teams'].apply(mayusculas)

# No se puede aplicar por que es un objeto int asi que no se puede aplicar a numeros

AttributeError: 'int' object has no attribute 'upper'

## Muestra los últimos 8 resultados del set de datos

In [10]:
df.tail(8)

           Host  Teams Champion
14      England     16  England
15        Chile     16   Brazil
16       Sweden     16   Brazil
17  Switzerland     16  Germany
18       Brazil     15  Uruguay
19       France     16    Italy
20        Italy     16    Italy
21      Uruguay     13  Uruguay

## Te has fijado el dataset original no ha modificado la columna Host? Por qué ocurre esto?

## Crea una columna que se llame Favoritos e introduce una serie de 3 filas con 'Si'y 5 con 'No'.

In [59]:
favoritos = pd.Series(['Si', 'Si', 'Si', 'No', 'No', 'No', 'No', 'No'])
df['Favoritos'] = favoritos
df

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches,Favoritos
0,2022,QATAR,32,NaN,NaN,NaN,0,0,0,Si
1,2018,RUSSIA,32,France,Croatia,Harry Kane - 6,3031768,47371,64,Si
2,2014,BRAZIL,32,Germany,Argentina,James Rodríguez - 6,3429873,53592,64,Si
3,2010,SOUTH AFRICA,32,Spain,Netherlands,"Wesley Sneijder, Thomas Müller... - 5",3178856,49670,64,No
4,2006,GERMANY,32,Italy,France,Miroslav Klose - 5,3352605,52384,64,No
5,2002,"KOREA REPUBLIC, JAPAN",32,Brazil,Germany,Ronaldo - 8,2705337,42271,64,No
6,1998,FRANCE,32,France,Brazil,Davor Šuker - 6,2903477,45367,64,No
7,1994,UNITED STATES,24,Brazil,Italy,"Hristo Stoichkov, Oleg Salenko - 6",3587538,68991,52,No
8,1990,ITALY,24,West Germany,Argentina,Salvatore Schillaci - 6,2516215,48389,52,NaN
9,1986,MEXICO,24,Argentina,West Germany,Gary Lineker - 6,2394031,46039,52,NaN
10,1982,SPAIN,24,Italy,West Germany,Paolo Rossi - 6,2109723,40572,52,NaN
11,1978,ARGENTINA,16,Argentina,Netherlands,Mario Kempes - 6,1545791,40679,38,NaN
12,1974,GERMANY,16,West Germany,Netherlands,Grzegorz Lato - 7,1865753,49099,38,NaN
13,1970,MEXICO,16,Brazil,Italy,Gerd Müller - 10,1603975,50124,32,NaN
14,1966,ENGLAND,16,England,West Germany,Eusébio - 9,1563135,48848,32,NaN
15,1962,CHILE,16,Brazil,Czechoslovakia,"Leonel Sánchez, Flórián Albert... - 4",893172,27912,32,NaN
16,1958,SWEDEN,16,Brazil,Sweden,Just Fontaine - 13,819810,23423,35,NaN
17,1954,SWITZERLAND,16,Germany,Hungary,Sándor Kocsis - 11,768607,29562,26,NaN
18,1950,BRAZIL,15,Uruguay,United States,Ademir - 8,1045246,47511,22,NaN
19,1938,FRANCE,16,Italy,Hungary,Leônidas - 7,375700,20872,18,NaN
20,1934,ITALY,16,Italy,Czechoslovakia,Oldřich Nejedlý - 5,363000,21353,17,NaN
21,1930,URUGUAY,13,Uruguay,Argentina,Guillermo Stábile - 8,590549,32808,18,NaN

## Crea una función que seleccione los mundiales favoritos y devuelva 'BluRay' como resultado para los que hay que grabar y 'VHS' para los que no son favoritos, después crea una columna que se llame Grabar donde irán los resultados de l fórmula anterior.

In [60]:
df['Grabar'] = df.apply(lambda x: 'BluRay' if x['Favoritos'] == 'Si' else 'VHS', axis=1)
df

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches,Favoritos,Grabar
0,2022,QATAR,32,NaN,NaN,NaN,0,0,0,Si,BluRay
1,2018,RUSSIA,32,France,Croatia,Harry Kane - 6,3031768,47371,64,Si,BluRay
2,2014,BRAZIL,32,Germany,Argentina,James Rodríguez - 6,3429873,53592,64,Si,BluRay
3,2010,SOUTH AFRICA,32,Spain,Netherlands,"Wesley Sneijder, Thomas Müller... - 5",3178856,49670,64,No,VHS
4,2006,GERMANY,32,Italy,France,Miroslav Klose - 5,3352605,52384,64,No,VHS
5,2002,"KOREA REPUBLIC, JAPAN",32,Brazil,Germany,Ronaldo - 8,2705337,42271,64,No,VHS
6,1998,FRANCE,32,France,Brazil,Davor Šuker - 6,2903477,45367,64,No,VHS
7,1994,UNITED STATES,24,Brazil,Italy,"Hristo Stoichkov, Oleg Salenko - 6",3587538,68991,52,No,VHS
8,1990,ITALY,24,West Germany,Argentina,Salvatore Schillaci - 6,2516215,48389,52,NaN,VHS
9,1986,MEXICO,24,Argentina,West Germany,Gary Lineker - 6,2394031,46039,52,NaN,VHS
10,1982,SPAIN,24,Italy,West Germany,Paolo Rossi - 6,2109723,40572,52,NaN,VHS
11,1978,ARGENTINA,16,Argentina,Netherlands,Mario Kempes - 6,1545791,40679,38,NaN,VHS
12,1974,GERMANY,16,West Germany,Netherlands,Grzegorz Lato - 7,1865753,49099,38,NaN,VHS
13,1970,MEXICO,16,Brazil,Italy,Gerd Müller - 10,1603975,50124,32,NaN,VHS
14,1966,ENGLAND,16,England,West Germany,Eusébio - 9,1563135,48848,32,NaN,VHS
15,1962,CHILE,16,Brazil,Czechoslovakia,"Leonel Sánchez, Flórián Albert... - 4",893172,27912,32,NaN,VHS
16,1958,SWEDEN,16,Brazil,Sweden,Just Fontaine - 13,819810,23423,35,NaN,VHS
17,1954,SWITZERLAND,16,Germany,Hungary,Sándor Kocsis - 11,768607,29562,26,NaN,VHS
18,1950,BRAZIL,15,Uruguay,United States,Ademir - 8,1045246,47511,22,NaN,VHS
19,1938,FRANCE,16,Italy,Hungary,Leônidas - 7,375700,20872,18,NaN,VHS
20,1934,ITALY,16,Italy,Czechoslovakia,Oldřich Nejedlý - 5,363000,21353,17,NaN,VHS
21,1930,URUGUAY,13,Uruguay,Argentina,Guillermo Stábile - 8,590549,32808,18,NaN,VHS

## Eleva la columna de equipos al cuadrado

In [68]:
df['Teams'] = df['Teams']**2
df

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches,Favoritos,Grabar
0,2022,QATAR,4096,NaN,NaN,NaN,0,0,0,Si,BluRay
1,2018,RUSSIA,4096,France,Croatia,Harry Kane - 6,3031768,47371,64,Si,BluRay
2,2014,BRAZIL,4096,Germany,Argentina,James Rodríguez - 6,3429873,53592,64,Si,BluRay
3,2010,SOUTH AFRICA,4096,Spain,Netherlands,"Wesley Sneijder, Thomas Müller... - 5",3178856,49670,64,No,VHS
4,2006,GERMANY,4096,Italy,France,Miroslav Klose - 5,3352605,52384,64,No,VHS
5,2002,"KOREA REPUBLIC, JAPAN",4096,Brazil,Germany,Ronaldo - 8,2705337,42271,64,No,VHS
6,1998,FRANCE,4096,France,Brazil,Davor Šuker - 6,2903477,45367,64,No,VHS
7,1994,UNITED STATES,2304,Brazil,Italy,"Hristo Stoichkov, Oleg Salenko - 6",3587538,68991,52,No,VHS
8,1990,ITALY,2304,West Germany,Argentina,Salvatore Schillaci - 6,2516215,48389,52,NaN,VHS
9,1986,MEXICO,2304,Argentina,West Germany,Gary Lineker - 6,2394031,46039,52,NaN,VHS
10,1982,SPAIN,2304,Italy,West Germany,Paolo Rossi - 6,2109723,40572,52,NaN,VHS
11,1978,ARGENTINA,1024,Argentina,Netherlands,Mario Kempes - 6,1545791,40679,38,NaN,VHS
12,1974,GERMANY,1024,West Germany,Netherlands,Grzegorz Lato - 7,1865753,49099,38,NaN,VHS
13,1970,MEXICO,1024,Brazil,Italy,Gerd Müller - 10,1603975,50124,32,NaN,VHS
14,1966,ENGLAND,1024,England,West Germany,Eusébio - 9,1563135,48848,32,NaN,VHS
15,1962,CHILE,1024,Brazil,Czechoslovakia,"Leonel Sánchez, Flórián Albert... - 4",893172,27912,32,NaN,VHS
16,1958,SWEDEN,1024,Brazil,Sweden,Just Fontaine - 13,819810,23423,35,NaN,VHS
17,1954,SWITZERLAND,1024,Germany,Hungary,Sándor Kocsis - 11,768607,29562,26,NaN,VHS
18,1950,BRAZIL,900,Uruguay,United States,Ademir - 8,1045246,47511,22,NaN,VHS
19,1938,FRANCE,1024,Italy,Hungary,Leônidas - 7,375700,20872,18,NaN,VHS
20,1934,ITALY,1024,Italy,Czechoslovakia,Oldřich Nejedlý - 5,363000,21353,17,NaN,VHS
21,1930,URUGUAY,676,Uruguay,Argentina,Guillermo Stábile - 8,590549,32808,18,NaN,VHS