#  Introduccion a Pandas

In [ ]:
#instalar pandas, luego invocar

pip install pandas

In [5]:
import pandas as pd

# Creacion de dataframes

In [6]:
# Aqui vamos a crear una serie que llamaremos "s" a partir de una lista.

s = pd.Series(data = ["Sabado", "Domingo"], dtype = "string")
s

0     Sabado
1    Domingo
dtype: string

In [7]:
# Aqui vamos a crear una serie que llamaremos "s1" a partir de un diccionario

s1 = pd.Series(data = {"Matematicas": 6.1, "Economia": 7.0,"Lengua":4.2})
s1

Matematicas    6.1
Economia       7.0
Lengua         4.2
dtype: float64

In [9]:
dic_alumno = {'Nombre del alumno': ['Nico','Christian','Jessica'], 'Nota':[10,10,10]}
print(pd.Series(dic_alumno))

Nombre del alumno    [Nico, Christian, Jessica]
Nota                               [10, 10, 10]
dtype: object

# Atributos

In [11]:
# Devuelve el numero de elementos de la serie s1

s1.size

3

In [12]:
# Devuelve una lista con los nombres de las filas del DataFrame

s1.index

Index(['Matematicas', 'Economia', 'Lengua'], dtype='object')

In [13]:
#Devuelve el tipo de datos de los elementos de la serie s.

s1.dtype

dtype('float64')

In [16]:
# Acceder a los elementos de una Serie

s1[1:3]

Economia    7.0
Lengua      4.2
dtype: float64

## Acceso de los elementos de una seria

## Resumen descriptivo de una serie