# Listas, sets, tuplas y diccionarios

### Listas (Lists)

Una lista puede tener una coleccion de cualquier tipo de variables. Incluso listas.

In [1]:
a1 = [1,2,3]
a2 = [4,5,6]
A = [a1, a2]
print(A)

[[1, 2, 3], [4, 5, 6]]

In [3]:
B = [[10,20,30],
     [40,50,60],
     [70,80,90]]

print(B[1][1])

50

### Tuplas (Tuples)

In [5]:
#Crear una tupla vacia
tupla0 = ()
print(tupla0)

tupla00 = tuple()
print(tupla00)

()
()

In [6]:
#Crear una tupla con elementos
tupla1 = (1, 2, 3)
print(tupla1)

(1, 2, 3)

In [8]:
#Crear una tupla con variables de distintos tipos
tupla_animal = ("Zebra",4,["rayas","blanco","negro"])
print(tupla_animal)

('Zebra', 4, ['rayas', 'blanco', 'negro'])

In [14]:
#Mostrar el valor que se encuentra en la posicion indicada por el indice
#funciona igual que en las listas
colores = ("azul","verde","rojo","amarillo")
print(colores[2])
print(colores[-1])

rojo
amarillo

In [25]:
#Saber la cantidad de elementos de una tupla
colores = ("azul","verde","rojo","amarillo")
print(len(colores))

4

In [9]:
#Obtener el indice de un elemento de la tupla
colores = ("azul","verde","rojo","amarillo")
print(colores.index("rojo"))

2

In [12]:
#Contar cuantos elementos hay con un determinado valor
numeros = (1,2,2,2,3,4,4,4,4,5)
print(numeros.count(2))

3

In [15]:
#Concatenar tuplas
numeros = (1,2,2,2,3,4,4,4,4,5)
colores = ("azul","verde","rojo","amarillo")
print(numeros + colores) # Output: (1, 2, "Hey", "there")

(1, 2, 2, 2, 3, 4, 4, 4, 4, 5, 'azul', 'verde', 'rojo', 'amarillo')

In [16]:
#Iterar una tupla
colores = ("azul","verde","rojo","amarillo")
for color in colores:
  print(color)

azul
verde
rojo
amarillo

In [26]:
#Verificar si un valor esta o no en una lista
numeros = (1,2,2,2,3,4,4,4,4,5)
resultado = 0 in numeros
print(resultado)
resultado = 5 in numeros
print(resultado)
resultado = 5 not in numeros
print(resultado)

False
True
False

In [20]:
#Comparacion
resultado = (1,2,3) == (1,2,3)
print(resultado)
resultado = (3,2,1) == (1,2,3)
print(resultado)

True
False

In [18]:
#Packing and Unpacking
tupla = 5,6,7 #Sin poner parentesis tambien funciona
a,b,c = tupla
print(c)
print(a)
print(b)

7
5
6

### Conjuntos (Sets)

In [21]:
#Crear un conjunto vacio
s1 = set()
print(s1)

set()

In [24]:
#Crear un conjunto con valores
s2 = {1,2,3,4,5}
print(s2)

#Un conjunto no tiene valores repetidos
s3 = {1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3}
print(s3)

#Un conjunto puede contener valores de distintos tipos
s4 = {1,"a","b","a",1,1,2}
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3}
{1, 'b', 2, 'a'}

In [28]:
#Saber el numero de elementos de un conjunto
s2 = {1,2,3,4,5}
print(len(s2))
s4 = {1,"a","b","a",1,1,2}
print(len(s4))

5
4

In [29]:
# Agregar un elemento
s5 = {1, 2, 3}
s5.add(4)
print(s5)

{1, 2, 3, 4}

In [30]:
# Agregar varios elementos
s6 = {1, 2, 3}
s6.update([4,5])
print(s6)

{1, 2, 3, 4, 5}

In [31]:
# Eliminar elementos usando remove(elemento)
#Si elemento no se encuentra en el set la funcion remove da error
s6 = {1, 2, 3}
s6.remove(1)
print(s6)

{2, 3}

In [33]:
# Eliminar elementos usando discard(elemento)
#Si elemento no se encuentra en el set la funcion discard no da error
s6 = {1, 2, 3}
s6.discard(5)
s6.discard(1)
print(s6)

{2, 3}

In [41]:
#Vaciar un conjunto
s7 = {1,2,3,4,5,6,7}
s7.clear()
print(s7)

set()

Operaciones de conjuntos

In [35]:
# Union: el resultado es la suma de los elementos de ambos conjuntos
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
print(set_1.union(set_2))
print(set_1 | set_2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [36]:
# Interseccion: el resultado son los elementos que se encuentran
# en los dos conjuntos
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
print(set_1.intersection(set_2))
print(set_1 & set_2)

{3, 4}
{3, 4}

In [37]:
# Diferencia: el resultado son los elementos del conjunto1 menos
# los elementos del conjunto2
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
print(set_1.difference(set_2))
print(set_1 - set_2)

{1, 2}
{1, 2}

In [38]:
# Diferencia simetrica: el resultado son los elementos que no se encuentran en ambos
# cojunto1 - conjunto2 UNION conjunto2 - conjunto1
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
print(set_1.symmetric_difference(set_2))
print(set_1 ^ set_2)

{1, 2, 5, 6}
{1, 2, 5, 6}

In [39]:
# Subconjunto: verdadero si el conjunto1 es un subconjunto del conjunto2
set_1 = {1, 2}
set_2 = {1, 2, 3}
print(set_1.issubset(set_2))
print(set_2.issubset(set_1))

True
False

In [40]:
# Superset: verdadero si el conjunto2 es un subconjunto del conjunto1
set_1 = {1, 2}
set_2 = {1, 2, 3}
print(set_1.issuperset(set_2))
print(set_2.issuperset(set_1))

False
True

### Diccionarios (Dictionaries)

In [44]:
#Crear un diccionario vacio
d1 = {}
print(d1)

d2 = dict()
print(d2)

{}
{}

In [43]:
#Crear un diccionario con elementos
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
print(d3)

{'Vacas': 2, 'Cerdos': 3, 'Gallinas': 10}

In [45]:
#Ver si una clave esta en el diccionario
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
resultado = "Vacas" in d3
print(resultado)
resultado = "Patos" in d3
print(resultado)
resultado = "Patos" not in d3
print(resultado)

True
False
True

In [47]:
#Obtener el valor mediante la clave
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
valor = d3["Vacas"]
print(valor)

2

In [48]:
#Modificar el valor mediante la clave
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
d3["Vacas"] = 4
print(d3)

{'Vacas': 4, 'Cerdos': 3, 'Gallinas': 10}

In [49]:
#Agregar un elemento
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
d3["Patos"] = 5
print(d3)

{'Vacas': 2, 'Cerdos': 3, 'Gallinas': 10, 'Patos': 5}

In [59]:
# Remover un elemento
d4 = {'Vacas': 2, 'Cerdos': 3, 'Gallinas': 10, 'Patos': 5}
valor_patos = d4.pop("Patos")
print(valor_patos)
print(d4)

5
{'Vacas': 2, 'Cerdos': 3, 'Gallinas': 10}

In [54]:
#Iterar un diccionario
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
for clave in d3:
  print("Clave:",clave," Valor:",d3[clave])

Clave: Vacas  Valor: 2
Clave: Cerdos  Valor: 3
Clave: Gallinas  Valor: 10

In [55]:
#Iterar un diccionario
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
for clave,valor in d3.items():
  print("Clave:",clave," Valor:",valor)

Clave: Vacas  Valor: 2
Clave: Cerdos  Valor: 3
Clave: Gallinas  Valor: 10

In [56]:
#Obtener claves
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
print(d3.keys())

dict_keys(['Vacas', 'Cerdos', 'Gallinas'])

In [57]:
#Obtener valores
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
print(d3.values())

dict_values([2, 3, 10])

In [60]:
#Vaciar un diccionario
d3 = {"Vacas":2,"Cerdos":3,"Gallinas":10}
d3.clear()
print(d3)

{}